html{
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: gray;
}

Header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;

  margin: 0 auto;
  width: 80%;
  height: 100%;
  max-width: 320px;

  overflow: hidden;
  position: fixed;

  pointer-events: none;
  * {
    pointer-events: auto;
  }

  &::before{
    z-index: -1;
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0));
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }
  
  &.open::before{
    opacity: 1;
    left: 0;
  }

  .header-close {
    z-index: -2;
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    backdrop-filter: blur(0px);
    transition: all 0.3s ease-in-out;
  }

  &.home {
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    .menu-btn{
      display: none;
    }
    
  }

  &.child {
    top: 16px;
    left: 16px;
    height: auto;
    justify-content: left;
    align-items: flex-start;

    &.open{
      z-index: 1;
      width: 320px;
      height: 100%;
      .header-close {
        pointer-events: auto;
        backdrop-filter: blur(2px);
      }
    }

    h1 {
      display: none;
    }

    ul {
      justify-content: left;
      align-items: flex-start;
      left: -320px;
      position: relative;
      background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0));
      transition: all 0.2s ease-in-out;
      &.open{
        left: 0px;
      }
    }
  }



  img {
    width: 100px;
    height: 29.109px;
  }

  h1 {
    display: block;
    padding: 16px 0px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #000;
    width: 100%;


    color: #000;
    text-align: justify;
    text-align-last: justify;
    font-family: Noto Sans JP;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 20px;
    /* 100% */
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    padding: 0;
    pointer-events: none;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      pointer-events: auto;

      a,
      a:visited {
        position: relative;
        padding: 4px 8px;
        text-decoration: none;
        color: #000;

        &::before {
          content: '';
          position: absolute;
          display: block;
          top: 50%;
          left: 0;
          border-right: 1px solid #000;
          border-left: 1px solid #000;
          width: 100%;
          height: 0px;
          transition: all 0.2s ease-in-out;
        }

        &:hover::before {
          top: 0%;
          height: 100%;
        }

        &.active::after {
          content: '';
          position: absolute;
          display: block;
          top: calc(100% - 4px);
          left: calc(50% - 4px);
          background-color: #000;
          border-radius: 4px;
          width: 8px;
          height: 4px;
        }
      }
    }
  }

  .menu-btn {
    display: flex;
    height: 25px;
    width: 25px;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

    span,
    span:before,
    span:after {
      content: '';
      display: block;
      height: 2px;
      width: 25px;
      border-radius: 3px;
      background-color: #000;
      position: absolute;

      transition: all 0.2s ease-in-out;
    }
  
    span:before {
      bottom: 8px;
    }
  
    span:after {
      top: 8px;
    }

    &.open{
      span{
        background-color: rgba(0, 0, 0, 0);
        &:before{
          bottom: 0;
          transform: rotate(45deg);
        }
        &:after{
          top: 0;
          transform: rotate(-45deg);
        }
      }
    }
  }
}

.page {
  display: flex;
  width: calc(100% - 64px);
  max-width: 640px;
  padding: 64px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;

  margin: 0 auto;

  h1{
    align-self: stretch;
    margin: 64px 0 24px;

    color: #000;
    text-align: center;
    font-family: Noto Sans JP;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  article{
    margin: 0;
    width: 100%;
    h1{
      margin: 64px 0 24px;

      color: #000;
      text-align: left;
      font-family: Noto Sans JP;
      font-size: 32px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    h2{
      margin: 32px 0 24px;

      color: #000;
      text-align: left;
      font-family: Noto Sans JP;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    h3{
      margin: 24px 0 24px;

      color: #000;
      text-align: left;
      font-family: Noto Sans JP;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    p{
      margin: 0 0 12px;

      color: #000;
      font-family: Noto Sans JP;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
  strong{
    font-weight: 600;
  }
}

.articleList {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 8px;
  width: 100%;

  .closeLink{
    margin: 32px 0 8px;
    text-decoration: none;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 16px;
    text-align: center;
    border-left: black 4px solid;
    border-right: black 4px solid;
    color: black;
    transition: all 0.1s ease-in-out;
    &:hover{
      background-color: rgba(0, 0, 0, 0.05);
      border-left: black 8px solid;
      border-right: black 8px solid;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 8px;
    list-style-type: none;
    padding: 0;

    li {
      display: flex;
      flex-direction: column;
      height: auto;
      a {
        text-decoration: none;
        color: #000;
        font-weight: bold;
        width: 100%;
        border-left: black 4px solid;
        padding: 0 4px 4px 8px;
        transition: all 0.1s ease-in-out;

        &:hover {
          border-left: black 8px solid;
          padding: 0 0 4px 8px;
          background-color: rgba(0, 0, 0, 0.05);
        }

        h1{
        margin: 0 0 4px;
        font-size: 16px;
        }

        p{
          margin: 4px 0;
          font-size: 12px;
        }
        
        .tags{
          display: flex;
          height: auto;
          span{
            margin: 0 4px 0 0;
            padding: 2px 4px;
            background-color: lightgray;
            border-radius: 4px;

            font-size: 10px;
          }
        }
      }
    }
  }
}